<!-- <div class="container">
  <div class="row">
      <div >
          <p class="text-center">Planes de Ahorro</p>
          <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda officia consectetur blanditiis ullam, quod similique labore soluta expedita deleniti eveniet molestias pariatur repudiandae? Facilis non quasi iure placeat quia necessitatibus?
          </p>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, velit cupiditate dolore quae suscipit nobis quidem itaque quas obcaecati est ut vitae unde sit ex dolorem nesciunt perferendis adipisci repudiandae?
          </p>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam enim eum totam earum corporis iste, consectetur autem debitis possimus accusamus itaque saepe rem! Perspiciatis porro totam eum iusto quis!
          </p>

      </div>
      <div >
          <div>
                  <button type="button" class="btn btn-success ">Plan 1</button>
                  <button type="button" class="btn btn-success ">Plan 2</button>
                  <button type="button" class="btn btn-success ">Plan 3</button>
                  <button type="button" class="btn btn-success ">Plan 4</button>
                  <button type="button" class="btn btn-success ">Plan 5</button>
                  <button type="button" class="btn btn-success ">Plan 6</button>
          </div>
      </div>
  </div>
  <div class="row"></div>
</div> -->
<body>
    
    <section class="grid">
        <section class="pestaña">
            <div><a>Residencial</a></div>
            <div><a>Comercial</a></div>
        </section>
    </section>
    <section class="grid">
        <section class="contenido">
            <div class="izq">
                iz
            </div>
            <div class="der">
                der
            </div>
        </section>
    </section>
    <section></section>
</body>