<body>
    <main>
        <h2>Planes de ahorro</h2>
        <section class="grid-container">
            <section class="pestana">
                <div class="option">
                    <a href="http://">Residencial</a>
                    <a href="http://">Comercial</a>               
                </div>
            </section>
            <section class="contenido">
                <div class="izq">
                    <h3>Ahorra hasta el 90% de tu recibo de CFE</h3>
                    <h4><span>Recidencial/tarifa DAC</span></h4>
                    <article>
                        <p>Si usted esta busacando ahorrar en sus costos de enrgía, contribuir para crear un medio ambiente más limpio y mitigar los gases de efecto envernadero, es momento para instalar un sistema de energía solar.</p>
                        <p>En cuanto decia instalar  su sistema, podrá disfrutar de los beneficios económicos de producir su propia energía y ser parte de las personas que ayudamos a crear un México más verde.</p>
                        <p><span>Descubra las ventajas que tenemos en GR Ingeniería Eléctrica, para usted</span></p>
                        <p>Sistemas fotovoltaico conectado a la re (CFE), este sistema genera un alto porcentaje o el consumo total de su energía eléctrica, si los paneles solares generan menos energía de la que se consume, al a red de CFE provee el resto de energía necesaria, si se genera mayor energia de lo que se consume se lo abonan en el siguiente periodo</p>
                    </article>
                </div>
                <div class="der">
                    <h5>Para conocer tu paquete, haz clic en el pago bimestral mas adecuado:</h5>
                    <div class="planes">
                        <div><button>Plan 1</button></div>
                        <div><button>Plan 2</button></div>
                        <div><button>Plan 3</button></div>
                        <div><button>Plan 4</button></div>
                        <div><button>Plan 5</button></div>
                        <div><button>Plan 6</button></div>
                        <div><button>Plan 7</button></div>
                        <div><button>Plan 8</button></div>
                        <div><button>Plan 9</button></div>
                        <div><button>Plan 10</button></div>
                        <div><button>Plan 11</button></div>
                        <div><button>Plan 12</button></div>
                        <div><button>Plan 13</button></div>
                        <div><button>Plan 14</button></div>
                        <div><button>Plan 15</button></div>
                        <div><button>Plan 16</button></div>
                    </div>
                </div>
            </section>
            <!-- <section class="img">
                <img src="../../assets/IMG_2234.JPG" alt="">
            </section> -->
        
        </section>
    </main>
</body>