.grid .pestana{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    background-color: brown;
}
.pestaña{
    background-color: aqua;
}
.contenido{
    background-color: blueviolet;
}
.izq{
    background-color: chartreuse
}
.der{
    background-color: yellow;
}