<header>
  <div class="menu_bar">
    <a class="bt-menu"><span><img src="../../assets/icon/menu.svg" alt=""></span><img src="../../assets/favicon.ico" width="32" height="32" class="d-inline-block align-top" alt="">
    Ingenieria</a>
  </div>
  <nav>

    <ul>
      <li><a routerLink="inicio">Inicio</a></li>
      <li class="submenu">
      <a routerLink="proyectos">Proyectos</a>
      <ul class="children">
          <li><a routerLink="#">Proyecto 1<span class="icon-dot"></span></a></li>
          <li><a routerLink="#">Proyecto 2<span class="icon-dot"></span></a></li>
          <li><a routerLink="#">Proyecto 3<span class="icon-dot"></span></a></li>
      </ul>
      </li>
      <li><a routerLink="/productos">Productos</a></li>
      <li><a routerLink="/planes">Plan de Ahorro</a></li>
      <li><a routerLink="/blog">Blog</a></li>
    </ul>
  </nav>
</header>