<main>
    <h1>Artículos Recientes</h1>
    <section class="container">
        <div class="arriba">
            <div class="imagen">
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">leer mas</a>
                </div>
            </div>
        </div>
        <div class="arriba">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div class="arriba">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div class="medio">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
        </div>
        </div>
        <div class="medio">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div class="medio">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div class="medio">
                <div>
                    <img src="../../assets/002.jpg" width="350px" alt="">
                </div>
                <div>
                    <h4>
                        Encabezado noticia 1
                    </h4>
                    <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                        evento!</p>
                    <div>
                        <a href="#">Continuar leyendo</a>
                    </div>
                </div>
        </div>
        <div class="medio">
                <div>
                    <img src="../../assets/002.jpg" width="350px" alt="">
                </div>
                <div>
                    <h4>
                        Encabezado noticia 1
                    </h4>
                    <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                        evento!</p>
                    <div>
                        <a href="#">Continuar leyendo</a>
                    </div>
                </div>
        </div>
        <div class="medio">
                <div>
                    <img src="../../assets/002.jpg" width="350px" alt="">
                </div>
                <div>
                    <h4>
                        Encabezado noticia 1
                    </h4>
                    <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                        evento!</p>
                    <div>
                        <a href="#">Continuar leyendo</a>
                    </div>
                </div>
        </div>
    </section>

    <section>
        
    </section>
</main>