<main>
    <h1>Artículos Recientes</h1>
    <section class="container">
        <!-- <div class="content-all">
               <div class="content-img">
                   
                   <img src="../../assets/solar-2344550_1280.jpg">
                   
                   <div class="content-txt">
                       <h2>JAVA SCRIPT</h2>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quos consectetur est eligendi, sapiente quaerat cupiditate velit, sit voluptatum repellendus perspiciatis mollitia minus totam!</p>                
                   </div>
                   
                   <div class="content-1">1</div>
                   <div class="content-2">2</div>
                   <div class="content-3">3</div>
                   <div class="content-4">4</div>
                   
               </div>
               
        </div> -->
        <div>
            <div class="imagen">
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">leer mas</a>
                </div>
            </div>
        </div>
        <div>
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div>
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div class="medio">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
        </div>
        </div>
        <div class="medio">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div class="medio">
            <div>
                <img src="../../assets/002.jpg" width="350px" alt="">
            </div>
            <div>
                <h4>
                    Encabezado noticia 1
                </h4>
                <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                    evento!</p>
                <div>
                    <a href="#">Continuar leyendo</a>
                </div>
            </div>
        </div>
        <div class="medio">
                <div>
                    <img src="../../assets/002.jpg" width="350px" alt="">
                </div>
                <div>
                    <h4>
                        Encabezado noticia 1
                    </h4>
                    <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                        evento!</p>
                    <div>
                        <a href="#">Continuar leyendo</a>
                    </div>
                </div>
        </div>
        <div class="medio">
                <div>
                    <img src="../../assets/002.jpg" width="350px" alt="">
                </div>
                <div>
                    <h4>
                        Encabezado noticia 1
                    </h4>
                    <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                        evento!</p>
                    <div>
                        <a href="#">Continuar leyendo</a>
                    </div>
                </div>
        </div>
        <div class="medio">
                <div>
                    <img src="../../assets/002.jpg" width="350px" alt="">
                </div>
                <div>
                    <h4>
                        Encabezado noticia 1
                    </h4>
                    <p>En junio tuvimos la oportunidad de realizar nuestro Workshop Solar, aquí les dejamos algunas imágenes del
                        evento!</p>
                    <div>
                        <a href="#">Continuar leyendo</a>
                    </div>
                </div>
        </div>
    </section>

    <section>
        
    </section>
</main>