.ben div{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    text-align: center;
}

/* .element .subele{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    background-color: blueviolet;    
}
.subele label{
    text-align: center;
}
*/
/* .subele div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.subele img{
    max-width: 30em; 
} */
.amb{
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);

}

.ele img{
    max-width: 30em;
}