<!-- <link rel="stylesheet" href="./css/GR.css"> -->
<div class="container" >
    
  <div class="row">
      <div class="transition"><img src="./assets/IMG_2234.JPG" class="img-fluid" alt="Paneles Solares" max-width="700" height="auto"></div>
  </div> <br><br>
   
  <p class="text-center">Beneficios</p>
  
  <section class="grid">
    <section class="ben">
        <div>
            <article>
                <p>Instalaciones conforme a norma CFE </p>
            </article>
            
            <article>
                <p>Bajamos hasta a $50 pesos tu pago BIMESTRAL a CFE</p>
            </article>
        
            <article>
                  <p>Cotización express sin costos adicionales</p>
            </article>
        </div>
    </section>
    
    <section class="ben">
        <div>
            <article>
                <p>Formas de pago atractivas.</p>
            </article>
            <article>
                <p>Servicio continuo, atento y amistoso.</p>
            </article>
            <article>
                <p>No calculamos ahorros, los garantizamos.</p>
            </article>
        </div>
    </section>
    <section class="ben">
        <div>
                <article>
                    <p>Deja que los ahorros paguen los paneles.</p>
                </article>
                <article>
                    <p>¿Nubes, sombras, pérdidas? Todo está calculado.</p>
                </article>
                <article>
                    <p>Contamos con las marcas top del mercado.</p>
                </article>
        </div>
    </section>
 </section>

    <section class="grid">
        <section class="ele">
            <div class="amb">
                <p>Ambiental</p>
                <img src="./assets/002.jpg" alt="imagen" srcset=""><!-- <img src="./assets/002.jpg">     -->
                <p >
                    1 Panel solar de 335 watts ayuda a salvar 270 árboles en su vida útil.
                </p>
                
            </div>   
            
            <div class="eco"> 
                <label for="economico">Económico</label>
                <!--<p>
                    Cada panel solar ahorra un promedio de $75,000 mxn en su vida útil (25 años).
                </p>-->

            </div><!--
            <div class="subele">

            </div> 

        </div>-->

    </section>

