<!-- <div class="container">

  <p class="text-center">
      INSTALACIÓN DE SISTEMA FOTOVOLTAICO EN PUEBLA 
  </p>
  <div class="row"> 
      <p>
         <br> INSTALACIÓN DE PANELES SOLARES EN PUEBLA <br>
      </p><br> 
      <div ><img src="image/IMG_2234.JPG" alt="" width="560" height="345"></div>
      <div ><img src="image/IMG_2232.JPG" alt="" width="560" height="345"></div>
  </div>
  <div class="row">
      <div ><img src="image/IMG_2375.JPG" alt="" width="560" height="345"></div>
  </div>
  <p class="text-center">
      INSTALACIÓN DE CALENTADORE SOLARES
  </p>        
  <div class="row"> 
      <div ><img src="image/C1.jpeg" alt="" width="560" height="345"></div>
      <div ><img src="image/C2.jpeg" alt="" width="560" height="345"></div>
  </div>
  <div class="row">
      <div ><img src="image/C4.jpeg" alt="" width="560" height="345"></div>
  </div>
  <p class="text-center">
      INSTALACIÓN DE SISTEMA FOTOVOLTAICO EN CDMX
  </p>        
  <div class="row"> 
      <div ><img src="image/IMG_0460.JPG" alt="" width="560" height="345"></div>
      <div ><img src="image/IMG_0463.JPG" alt="" width="560" height="345"></div>
  </div>
  <div class="row">
      <div class="col-md-6 col-md-offset-3"><img src="image/IMG_0495.JPG" alt="" width="560" height="345"></div>
  </div>
</div> -->

<main>
    <h2>Proyectos Realizados</h2>
    <section class="grid">
        <section class="b">
            <div></div>
            <div></div>
        </section>
        <section class="c">
            <div></div>
            <div></div>
        </section>
        <section class="d">
            <div></div>
            <div></div>
        </section>
        <section class="galeria">
                <div class="sesgoarriba"></div>
                <div class="imagenes none">
                    <img src="../../assets/C1.jpeg" alt="">
                </div>
                <div class="imagenes">
                    <img src="../../assets/C2.jpeg" alt="">
                </div>
                <div class="imagenes">
                    <img src="../../assets/C3.jpeg" alt="">
                    <div class="encima">
                        <h2>AlexCG Design</h2>
                        <div></div>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../assets/004.jpg" alt="">
    
                </div>
                <div class="imagenes none">
                    <img src="../../assets/003.jpg" alt="">
                </div>
                <div class="sesgoabajo"></div>
            </section>
    </section>
</main>