<div class="container">
  <p class="text-center">Calentadores solares</p>
  <div>

      <div class="row">
          <div class="col-8 ">Articulo 1</div>
          <div class="col-4"><img src="image/baja tension.jpg" alt="" width="467" height="345"></div>
      </div>
    
      <div class="row">
          <div class="col-8 "><img src="image/mediaT.jpeg" alt=""width="560" height="345"></div>
          <div class="col-4 ">Articulo 2</div>
       </div>
      
       <div class="row">
           <div class="col-8 ">Articulo 3</div>
           <div class="col-4"><img src="image/calentadores-solares.jpg" alt="" width="400" height="345"></div>
      </div>
         
  </div>
</div>