<div class="absolute">
  
</div>
<header>
  <section >
    <div class="row">
      <div class="offset-4"></div>
      <div class="col-sm col-md-2 img">
        <img src="../../assets/shield-large.svg" alt="" srcset="">
      </div>
       
      <div class="col-sm col-md-4 rw">
        <h1>
           One framework.
           Mobile and desktop.
        </h1>
        <button><a routerLink='/docs'>GET STARTED</a></button>
       </div>
    </div>
  </section>
</header><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-8">
      <section>
        <div class="container py-3">
         <div class="card">
           <div class="row ">
             <div class="col-md-4">
                 <img src="../../assets/angular-mix.png" class="w-100">
              </div>
              <div class="col-md-4">
                
                  <p >Join us for Angular Mix</p>
                  <p >October 10th-12th, 2018</p>
                <div class="col-md-4">
                  <button type="button" class="btn btn-primary">LEARN MORE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
      <div class="offset-2">
      </div>
  </div><br><br><br>

    <div class="row">
      <div class="offset-2"></div>
      <div class="col-md-8">
          <section>
              <div class="container">
                  <div class="row ">
                    <div class="col-md-4">
                        <img src="../../assets/responsive-framework.svg" class="w-100">
                    </div>
                    <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                          <h4 class="card-title"> DEVELOP ACROSS ALL PLATFORMS</h4>
                          <p class="card-text">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target.
                             For web, mobile web, native mobile and native desktop.</p>
                        </div>
                    </div>
                  </div>
                </div>
            </section>
      </div>
      <div class="offset-2"></div>
    </div><br><br><br>
    <hr>
    <div class="row">
        <div class="offset-2"></div>
        <div class="col-md-8">
            <section>
                <div class="container py-3">
                    <div class="row ">
                      <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                          <h4 class="card-title"> SPEED AND PERFORMANCE</h4>
                          <p class="card-text">Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.</p>
                          <p class="card-text">Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <img src="../../assets/speed-performance.svg" class="w-100">
                        </div>
                    </div>
                  </div>
              </section>
        </div>
        <div class="offset-2"></div>
      </div><br><br><br>
      <hr>

      <div class="row">
          <div class="offset-2"></div>
          <div class="col-md-8">
              <section>
                  <div class="container py-3">
                      <div class="row ">
                        <div class="col-md-4">
                            <img src="../../assets/joyful-development.svg" class="w-100">
                          </div>
                          <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                              <h4 class="card-title"> INCREDIBLE TOOLING</h4>
                              <p class="card-text">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.</p>
                            </div>
                          </div>
                      </div>
                    </div>
                </section>
          </div>
          <div class="offset-2"></div>
        </div><br><br><br>
        <hr>
        <div class="row">
            <div class="offset-2"></div>
            <div class="col-md-8">
                <section>
                    <div class="container py-3">
                        <div class="row ">
                          <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                              <h4 class="card-title"> LOVED BY MILLIONS</h4>
                              <p class="card-text">From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                              <img src="../../assets/loved-by-millions.svg" class="w-100">
                            </div>
                        </div>
                      </div>
                  </section>
            </div>
            <div class="offset-2"></div>
          </div><br><br><br>
          
  <div class="row">
      <div class="offset-3">
      </div>
      <div class="col-md-6">
         <section>
             <div class="container py-3">
               <div class="card">
                 <div class="row ">
                     <div class="col-md-4">
                         <img src="../../assets/feature-icon.svg" class="w-50">
                     </div>
                     <div class="col-md-8 px-3">
                       <div class="card-block px-3">
                         <a href=""><h4 class="card-title" >GET STARTED </h4></a>
                         <p class="card-text">Start building your 
                           Angular application
                         </p>
                       </div>
                     </div>
                  </div>
                 </div>
               </div>
           </section>
      </div>
      <div class="offset-3">
     </div>
  </div>    
</div>