#principal div{
    background-color: #0B77FF;
    color: #FFF;

}
#principal .img{
    display:flex;
    justify-content: center;
       
}
img{
    
    height: 200px;

}
.dev{
    display:flex;
    justify-content: center;
       
}
.start{
    display:flex;
    justify-content: center;
}