<header>
  <p>FEATURES & BENEFITS</p>
</header>
<div>
  
  <div class="row">
    <label>CROSS PLATAFORM</label>
    <img src="" alt="">
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for=""></label>
      <p></p>
    </div>
    <div class="col-md-4">
      <label for=""></label>
      <p></p>
    </div>
    <div class="col-md-4">
      <label for=""></label>
      <p></p>
    </div>      
  </div> <br><br>
  <hr>

  <div class="row">
    <label for="">SPEED AND PERFORMANCE</label>
    <img src="" alt="">
  </div>

  <div class="row">
  
    <div class="col-md-4">
      <label for=""></label>
      <p></p>
    </div>
  
  </div>

</div>
