<!-- <nav class="navbar navbar-expand-md">
   <a class="navbar-brand" routerLink="/inicio"><img src="../.././assets/GR2.png" width="50" height="60" class="d-inline-block align-top" alt="">
     Ingeniería Eléctrica</a>
 -->
<nav>
  <a routerLink="/inicio"><img src="../../assets/GR2.png" width="100" height="100" alt=""></a>
  <div>
      <a routerLink="/proyectos">Proyectos</a>
      <a routerLink="/productos">Productos</a>
      <a routerLink="/planes">Plan de Ahorro</a>
      <a routerLink="/blog">Blog</a>
      <!-- <li><a></a></li> -->
  </div>
</nav>