<link rel="stylesheet" href="./css/GR.css">
<div class="container" >
    
  <div class="row">
      <div class="transition"><img src="./image/IMG_2234.JPG" class="img-fluid" alt="Paneles Solares" max-width="700" height="auto"></div>
  </div> <br><br>
   
  <p class="text-center">Beneficios</p>
  
  <div class="row" class="text-center">
    <div class="col-sm-12 col-md-6 col-lg-4">
       <article>
          <p>Instalaciones conforme a norma CFE </p></div>
        </article>
    </div> 
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
      <article>
          <p>Bajamos hasta a $50 pesos tu pago BIMESTRAL a CFE</p>
      </article>
  </div>
  <div>
     <article>
        <p>Cotización express sin costos adicionales</p>
      </article>
  </div>
    <div class="row">
            <div><p>Formas de pago atractivas.</p></div>
            <div><p>Servicio continuo, atento y amistoso.</p></div>
            <div><p>No calculamos ahorros, los garantizamos.</p></div>
    </div>
    <div class="row">
            <div><p>Deja que los ahorros paguen los paneles.</p></div>
            <div><p>¿Nubes, sombras, pérdidas? Todo está calculado.</p></div>
            <div><p>Contamos con las marcas top del mercado.</p></div>
    </div>
    <div class="row"><br><br>
        <div >
            <label for="ambiental">Ambiental</label>
            <p>
                1 Panel solar de 335 watts ayuda a salvar 270 árboles en su vida útil.
             </p>
        </div>
        
        <div ><img src="image/002.jpg" class="rounded float-right mg-responsive" alt="" width="560" height="345"></div>    
    </div><br><br>
    <div class="row">
        <div ><img src="image/003.jpg" class="rounded float-right mg-responsive" alt="" width="560" height="345"></div>
        <div >
            <label for="economico">Económico</label>
            <p>
                Cada panel solar ahorra un promedio de $75,000 mxn en su vida útil (25 años).
            </p>
        </div>
    </div>
    <div class="row">
        <div >
            <label for="social"></label>
            <p>
                Por cada panel solar instalado, CFE le puede dar luz a una casa rural.
            </p>
        </div>
        <div ><img src="image/004.jpg" class="rounded float-right" alt="" width="560" height="345"></div>
    </div>

</div>