<!-- <link rel="stylesheet" href="./css/GR.css"> -->
<!--<div class="container" >
    
  <div class="row">
      <div class="transition"><img src="./assets/IMG_2234.JPG" class="img-fluid" alt="Paneles Solares" max-width="700" height="auto"></div>
  </div> <br><br>
   
  <p class="text-center">Beneficios</p>
  
  <section class="grid">
    <section class="ben">
        <div>
            <article>
                <p>Instalaciones conforme a norma CFE </p>
            </article>
            
            <article>
                <p>Bajamos hasta a $50 pesos tu pago BIMESTRAL a CFE</p>
            </article>
        
            <article>
                  <p>Cotización express sin costos adicionales</p>
            </article>
        </div>
    </section>
    
    <section class="ben">
        <div>
            <article>
                <p>Formas de pago atractivas.</p>
            </article>
            <article>
                <p>Servicio continuo, atento y amistoso.</p>
            </article>
            <article>
                <p>No calculamos ahorros, los garantizamos.</p>
            </article>
        </div>
    </section>
    <section class="ben">
        <div>
                <article>
                    <p>Deja que los ahorros paguen los paneles.</p>
                </article>
                <article>
                    <p>¿Nubes, sombras, pérdidas? Todo está calculado.</p>
                </article>
                <article>
                    <p>Contamos con las marcas top del mercado.</p>
                </article>
        </div>
    </section>
 </section>

    <section class="grid">
        <section class="ele">
            <div class="amb">
                <p>Ambiental</p>
                <img src="./assets/002.jpg" alt="imagen" srcset=""><!-- <img src="./assets/002.jpg">     -->
                <!--<p >
                    1 Panel solar de 335 watts ayuda a salvar 270 árboles en su vida útil.
                </p>
                
            </div>   
            
            <div class="eco"> 
                <label for="economico">Económico</label>>-->
                <!--<p>
                    Cada panel solar ahorra un promedio de $75,000 mxn en su vida útil (25 años).
                </p>-->

            <!--</div>
            <div class="subele">

            </div>

        </div>-->

    <!--</section>>-->
    <body>
            <header>
                <div class="textos">
                    <h1 class="titulo">AlexCG Design</h1>
                    <h3 class="subtitulo">Desarrollo de sitios web</h3>
                    <a href="#" class="boton">Suscribete</a>
                </div>
                <div class="sesgoabajo"></div>
            </header>
            <main>
                <section class="acerca-de">
                    <div class="contenedor">
                        <h2 class="sobre-nosotros">Sobre nosotros</h2>
                        <h3 class="slogan">Tirando código en la web</h3>
                        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta rem hic totam necessitatibus
                            tempora animi error perferendis. Vero corrupti porro quia! Ad saepe alias, officiis voluptatem sed, odio
                            dolores neque dolorem placeat nam quia numquam soluta ipsam nostrum consequuntur, a magnam non. Tenetur
                            repudiandae distinctio inventore voluptate fugit laborum?</p>
                        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta rem hic totam necessitatibus
                            tempora animi error perferendis. Vero corrupti porro quia! Ad saepe alias, officiis voluptatem sed, odio
                            dolores neque dolorem placeat nam quia numquam soluta ipsam nostrum consequuntur, a magnam non. Tenetur
                            repudiandae distinctio inventore voluptate fugit laborum?</p>
                        <a href="#" class="boton">Suscribete</a>
                    </div>
                </section>
                <section class="galeria">
                    <div class="sesgoarriba"></div>
                    <div class="imagenes none">
                        <img src="1.jpg" alt="">
                    </div>
                    <div class="imagenes">
                        <img src="3.jpg" alt="">
                    </div>
                    <div class="imagenes">
                        <img src="2.jpg" alt="">
                        <div class="encima">
                            <h2>AlexCG Design</h2>
                            <div></div>
                        </div>
                    </div>
                    <div class="imagenes">
                        <img src="4.jpeg" alt="">
        
                    </div>
                    <div class="imagenes none">
                        <img src="5.jpeg" alt="">
                    </div>
                    <div class="sesgoabajo"></div>
                </section>
                <section class="miembros">
                    <div class="contenedor">
                        <h2 class="sobre-nosotros">Nuestro equipo</h2>
                        <h3 class="slogan">Conoce a nuestro equipo de trabajo</h3>
                        <div class="cards">
                            <div class="card">
                                <img src="AlexCGDesign.png" alt="">
                                <h4>AlexCGDesign</h4>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                            <div class="card">
                                <img src="AlexCGDesign.png" alt="">
                                <h4>AlexCGDesign</h4>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                            <div class="card">
                                <img src="AlexCGDesign.png" alt="">
                                <h4>AlexCGDesign</h4>
                                <p>Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fondo">
                    <div class="sesgoarriba"></div>
                    <div class="contenedor">
                        <h2 class="titulo-patrocinadores">Nuestra clientes</h2>
                        <h3 class="subtitulo-patrocinadores">Conoce a algunos de nuestros patrocinadores</h3>
                        <div class="clientes">
                            <div class="cliente">
                                <img src="logo.png" alt="">
                            </div>
                            <div class="cliente">
                                <img src="logo.png" alt="">
                            </div>
                            <div class="cliente">
                                <img src="logo.png" alt="">
                            </div>
                        </div>
                        <h3 class="subtitulo-patrocinadores especial">y muchos más clientes...</h3>
                    </div>
                    <div class="sesgoabajo-unico"></div>
                </section>
            </main>
            <footer>
                <div class="contenedor">
                    <h2 class="titulo-footer">Contactanos</h2>
                    <h3 class="subtitulo-footer">Lo apreciariamos mucho</h3>
                    <div class="footer">
                        <form action="">
                            <input type="text" name="" id="" placeholder="Nombre">
                            <input type="email" name="" id="" placeholder="Email">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Ingrese su mensaje..."></textarea>
                            <input type="submit" value="Enviar">
                        </form>
                    </div>
                </div>
            </footer>
        </body>
        