<!-- <link rel="stylesheet" href="./css/GR.css"> -->
<div class="container" >
    
  <div class="row">
      <div class="transition"><img src="./assets/IMG_2234.JPG" class="img-fluid" alt="Paneles Solares" max-width="700" height="auto"></div>
  </div> <br><br>
   
  <p class="text-center">Beneficios</p>
  
  <div class="row">
    <div >
       <article>
          <p>Instalaciones conforme a norma CFE </p>
        </article>
    </div> 
    <div>
        <article>
            <p>Bajamos hasta a $50 pesos tu pago BIMESTRAL a CFE</p>
        </article>
    </div>

    <div>
       <article>
          <p>Cotización express sin costos adicionales</p>
        </article>
    </div>
  </div>

    <div class="row">
            <div>
                <article>
                    <p>Formas de pago atractivas.</p>
                </article>
            </div>
            <div>
                <article>
                    <p>Servicio continuo, atento y amistoso.</p>
                </article>
            </div>
            <div>
                <article>
                    <p>No calculamos ahorros, los garantizamos.</p>
                </article>
            </div>
    </div>

    <div class="row">
            <div>
                <article>
                    <p>Deja que los ahorros paguen los paneles.</p>
                </article>
            </div>
            <div>
                <article>
                    <p>¿Nubes, sombras, pérdidas? Todo está calculado.</p>
                </article>
            </div>
            <div>
                <article>
                    <p>Contamos con las marcas top del mercado.</p>
                </article>
            </div>
    </div>

    <div class="row"><br><br>
        <div >
            <label for="ambiental">Ambiental</label>
            <p>
                1 Panel solar de 335 watts ayuda a salvar 270 árboles en su vida útil.
             </p>
        </div>
        <div ><img src="./assets/002.jpg" class="rounded float-right mg-responsive" alt="" width="560" height="345"></div>    
    </div><br><br>
    
    <div class="row">
        <div ><img src="./assets/003.jpg" class="rounded float-right mg-responsive" alt="" width="560" height="345"></div>
        <div >
            <label for="economico">Económico</label>
            <p>
                Cada panel solar ahorra un promedio de $75,000 mxn en su vida útil (25 años).
            </p>
        </div>
    </div>

    <div class="row">
        <div >
            <label for="social"></label>
            <p>
                Por cada panel solar instalado, CFE le puede dar luz a una casa rural.
            </p>
        </div>
        <div ><img src="./assets/004.jpg" class="rounded float-right" alt="" width="560" height="345"></div>
    </div>

</div>