<main>
    <header>
        <section class="container-portada">
            <section class="capa-gradient"></section>
            <section class="container-details">
                <div class="details">
                    <h1>Ingenieria Electrica</h1>
                    <h3>BLOG</h3>
                </div>
            </section>
        </section>
    </header>
    <h2>Artículos Recientes</h2>
    
    <section>
        <div class="wrapper">
            <ul class="stage clearfix">
                <li class="scene">
                    <a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>La mayor planta fotovoltaica de Colombia tendrá módulos de JinkoSolar</h1>
                            </header>
                            <p>
                                La china JinkoSolar suministrará 250.000 módulos monocristalinos para la planta solar El Paso que Enel está construyendo en…
                            </p>
                        </div>
                    </div></a>
                </li>
                <li class="scene"><a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>Mitos y realidades acerca de los paneles solares</h1>
                            </header>
                            <p>
                                Cada vez es más común escuchar acerca de la energía renovable, sin embargo, aún existen muchos mitos girando…
                            </p>
                        </div>
                    </div></a>
                </li>
                <li class="scene"><a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>PV Magazine anuncia un nuevo récord mundial para LONGi</h1>
                            </header>
                            <p>
                                LONGi está progresando a una velocidad vertiginosa y anuncia ahora otro récord mundial. Esta vez, el fabricante chino…
                            </p>
                        </div>
                    </div></a>
                </li>
            </ul>
        </div>
    </section>
    
    <section id="med">
        <div class="wrapper">
            <ul class="stage clearfix">
                <li id="med"class="scene">
                    <a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>La planta fotovoltaica más grande de América se encuentra en México</h1>
                            </header>
                            <p>
                                Coahuila contará con la mayor planta fotovoltaica de América, con más de 2 millones de paneles JinkoSolar …
                            </p>
                        </div>
                    </div></a>
                </li>
                <li class="scene"><a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>¿Cómo y dónde comprar paneles solares?</h1>
                            </header>
                            <p>
                                La energía eléctrica es esencial, en algunos casos el precio que se paga por su consumo es…
                            </p>
                        </div>
                    </div></a>
                </li>
                <li class="scene"><a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>Ventajas y uso de la energía solar</h1>
                            </header>
                            <p>
                                    Las energías renovables perecen ser el fututo próximo para la sociedad en común, y las empresas han comenzado…
                            </p>
                        </div>
                    </div></a>
                </li>
            </ul>
        </div>
    </section>
   
    <section>
        <div class="wrapper">
            <ul class="stage clearfix">
                <li class="scene">
                    <a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>CAPERUCITA ROJA, ¿A QUIÉN TIENES MIEDO?</h1>
                            </header>
                            <p>
                                Descripción: Es una versión moderna (y, como ya digo, de cine) del cuento, pero no faltan Caperucita, la abuelita, el leñador, y -por supuesto- el lobo. Un lobo que tiene atemorizada a la aldea de Daggorhorn, un lobo que vuelve cada luna llena y al que le ofrecen algún animal en sacrificio a cambio de no comerse a ninguna persona.
                            </p>
                        </div>
                    </div></a>
                </li>
                <li class="scene"><a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>GI Joe: El alzamiento de Cobra</h1>
                            </header>
                            <p>
                            Descripción:
                            El filme nos presenta al equipo G.I. Joe entrando en conflicto con Zartan, Storm Shadow y Firefly, todos sirviendo al recién estrenado Comandante Cobra. Zartan (que es visto por última vez disfrazándose como el Presidente de Estados Unidos) marca a todos los agentes de G.I. Joe como traidores y se borra a la mayoría de los Joes en un ataque sorpresa.
                            </p>
                        </div>
                    </div></a>
                </li>
                <li class="scene"><a href="#">
                    <div class="movie" onclick="return true">
                        <div class="poster"></div>
                        <div class="info">
                            <header>
                                <h1>The Hangover</h1>
                            </header>
                            <p>
                                Descripción: Se trata de una película dirigida al público masculino que cuenta la despedida de soltero de uno de ellos (Doug). Deciden irse a Las Vegas, aunque uno de ellos cuenta que van a Napa Valley, y de allí se desmadran... e incluso al día siguiente no recuerdan nada... bueno sí que se acuerdan de la boda. Pero "lo que se hace en Las Vegas, se queda en Las Vegas".
                            </p>
                        </div>
                    </div></a>
                </li>
            </ul>
        </div>
    </section>
</main>