<link rel="stylesheet" href="./css/GR.css">
<div class="container">
    <p class="text-center">Productos Y Servicios</p>
    <div>
        <div class="row">
            <div ><a class="dropdown-item" href="#!baja">Baja Tensión</a></div>
            <div ><img src="image/baja tension.jpg" alt="" width="467" height="345"></div>
        </div>
        <div class="row">
            <div ><img src="image/mediaT.jpeg" alt=""width="560" height="345"></div>
            <div >Media Tensión</div>
        </div>
        <div class="row">
             <div >Calentadores</div>
             <div ><img src="image/calentadores-solares.jpg" alt="" width="400" height="345"></div>
        </div>
        <div class="row">
            <div ><img src="image/planAhorro.png" alt=""width="560" height="345"></div>
            <div >
                <p>
                  Servicios  
                </p>
            </div>
        </div>        
    </div>
</d