<body>
    <header>
      <div class="textos">
         <p class="titulo">Ingeniería Eléctrica</p>
         <p class="subtitulo">Comprometido con el medio ambiente</p>
      </div>
      <div class="sesgoabajo"></div>
    </header>
    <main>
       <section>
         <div class="contenedor">
             <h2 class="sobre-nosotros">Nosotros</h2>
             <article>
                 <p class="parrafo">Somos una organizacion con espiritu innovador que ofrece soluciones óptimas de reducción de costos de energía,a través de energías renovables.</p>
                 <p class="parrafo">Nuestra propuesta de valor se integra de acuerdo a las necesidades de nuestros clientes, a través de servicios que incluyen diseño, construcción, puesta en marcha, supervisión, optimización energética y mantenimiento, así como la gestion ante autoridades y fuentes crediticias</p>
                 <p class="parrafo">Nuestras alianzas estrategicas con diseñadores tecnologícos líderes, son factor clave para alcanzar aplicaciones y desarrollos de máximo valor</p>
             </article>
         </div>
       </section>
       <section id="beneficios" class="contenedor">
           <h2 class="h2">Beneficios</h2>
           <div class="grid">
               <section>
                   <article>
                       <p>
                           Instalaciones conforme a norma CFE
                        </p>
                    </article>
               </section>
               <section>
                   <article>
                       <p>
                           Bajamos hasta a $50 pesos tu pago BIMESTRAL a CFE
                        </p>
                    </article>
               </section>
               <section>
                   <article>
                       <p>
                           Cotización express sin costos adicionales
                        </p>
                    </article>
               </section>
               <section>
                   <article> 
                        <p>
                            Formas de pago atractivas
                        </p>
                    </article>
               </section>
               <section>
                   <article>
                        <p>
                           Servicio continuo, atento y amistoso.
                        </p>
                   </article>
               </section>
               <section>
                   <article>
                       <p>
                           No calculamos ahorros, los garantizamos.
                       </p>

                   </article>
               </section>
               <section>
                   <article>
                        <p>
                           Deja que los ahorros paguen los paneles.
                        </p>   
                   </article>
               </section>
               <section>
                   <article>
                        <p>
                           ¿Nubes, sombras, pérdidas? Todo está calculado.
                        </p>   
                   </article>
               </section>
               <section>
                   <article>
                        <p>
                           Contamos con las marcas top del mercado.
                        </p>
                   </article>
               </section>
            </div>
       </section>
       <section>
           <div id ="sec-down"class="contenedor">
               <!-- <section class="grid">
                   <div class="text">
                       <h4>Ambiental</h4>
                       <p>1 Panel solar de 335 watts ayuda a salvar 270 árboles en su vida útil.</p>
                   </div>
                   <div>
                       <img src="../../assets/002.jpg" alt="">
                   </div>
               </section>
               <section class="grid">
                   <div>
                       <img src="../../assets/003.jpg" alt="">
                   </div>
                   <div class="text">
                       <h4>Economico</h4>
                       <p>Cada panel solar ahorra un promedio de $75,000 mxn en su vida útil (25 años).</p>
                   </div>
               </section> -->
               <!-- <section>
                   <div>
                       <h4></h4>
                       <p></p>
                   </div>
                   <div>
                       <img src="" alt="">
                   </div>
               </section> -->
               <section>
                   <article>
                        <div class="text">
                            <h4>Ambiental</h4>
                            <p>1 Panel solar de 335 watts ayuda a salvar 270 árboles en su vida útil.</p>
                        </div>
                   </article>
               </section>
               <section>
                   <article>
                        <div>
                            <img src="../../assets/002.jpg" alt="">
                        </div>
                   </article>
               </section>
               <section>
                   <article>
                        <div>
                               <img class="primary"src="../../assets/003.jpg" alt="">
                           </div>
                   </article>
               </section>
               <section>
                   <article>
                        <div class="text">
                            <h4>Economico</h4>
                            <p>Cada panel solar ahorra un promedio de $75,000 mxn en su vida útil (25 años).</p>
                        </div>
                   </article>
               </section>
               <section>
                   <article></article>
               </section>
               <section>
                   <article></article>
               </section>
            </div>
       </section>
    </main>
</body>
        